.contact {
	position: relative;
	padding-bottom: 20px;
	padding-top: 20px;
}

.contact h3 {
	text-align: center;
	padding-top: 10px;
	border-top: solid;
	border-color: var(--yellowText);
	border-width: 1px;
}

.contact p {
	text-align: center;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

.contact img {
	padding: 20px 10px 5px 0px;
	float: right;
	width: 45%;
}

.contact ul li {
	padding-top: 20px;
	text-align: center;
}
