.projects {
	position: relative;
	padding-bottom: 20px;
	padding-top: 20px;
	max-width: 80%;
	justify-self: center;
}

.projects h3 {
	text-align: center;
	padding-top: 10px;
	border-top: solid;
	border-color: var(--yellowText);
	border-width: 1px;
}

.projects p {
	padding-top: 20px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
}
