body {
	font-family: "BioRhyme", sans-serif;
	margin: 0px 20px;
}

h1 {
	font-family: "BioRhyme";
	font-size: var(--largeSize);
	color: var(--yellowText);
	font-weight: 700;
}

h2 {
	font-family: "BioRhyme";
	font-size: var(--devSize);
	line-height: 1.5rem;
	color: var(--whiteText);
	font-weight: 400;
}

h3 {
	font-family: "BioRhyme";
	font-size: var(--sectionSize);
	color: var(--yellowText);
	font-weight: 400;
}

.nav-main {
	color: var(--whiteText);
	font-weight: 400;
}

.nav-main ul li a {
	text-transform: capitalize;
}

a:link {
	text-decoration: none;
	color: var(--whiteText);
}

a:visited {
	color: var(--whiteText);
}
a:hover {
	color: var(--yellowText);
}

p {
	font-family: "Montserrat", sans-serif;
	color: var(--whiteText);
	font-weight: 400;
}

a.project-card-look-at {
	font-family: "Montserrat", sans-serif;
	color: var(--whiteText);
	font-weight: 400;
}

form {
	font-family: "Montserrat", sans-serif;
	color: var(--whiteText);
	font-weight: 400;
	font-size: 16px;
}

.about p a {
	text-decoration: none;
	color: var(--yellowText);
}
