.wrapper {
	max-width: 600px;
}
body {
	background-color: var(--greyBg);
	color: var(--yellowText);
}

header {
	background-color: var(--greyBg);
}

.nav-main {
	background-color: var(--darkGreyBg);
	color: var(--whiteText);
}

main {
	position: relative;
	top: 120px;
}

@media screen and (min-width: 480px) {
body {
	background-color:red;
}

}
